<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{76,74}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{76,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,78},{76,70}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{76,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,78},{76,70}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,26},{76,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,74},{76,72}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{76,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{78,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{76,72}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{76,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{78,74}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,74},{76,72}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{76,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{78,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ghost.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fecb408265ebbe5f35c4ac88bd00e9e2:d569923e7afaa4b5a83d89f5f3f7928e:8538abdcbd4db339f06a581573008863$</string>
            <key>textureFileName</key>
            <string>ghost.png</string>
        </dict>
    </dict>
</plist>
